{% assign url = page.url %}
{% assign start = url | truncate: 6, '' %}

{% if start == '/blog/' %}
{% assign url = '/blog/' %}
{% endif %}

<nav class='menu'>
    <ul class='plain-inline'>
        {% for item in site.data.menu-header.entries %}
        <li {% if url == item.url %}class='active' {% endif %}><a href="{{ item.url }}" {% if item.target %}target="{{ item.target }}" {% endif %}alt="{{ item.title }}">{{ item.title }}</a></li>
        {% endfor %}

        <li class='fav{% if url == '/favorites/' %} active {% endif %}'><a href="/favorites/">Favs&thinsp;<span class='icon-heart'></span></a></li>
    </ul>
</nav>
