<div id="contact" class="vcard" itemtype="http://microformats.org/profile/hcard">
  <a class="fn org url" href="https://www.nocke.de/">Frank Nocke – Javascript React Freelancer, Hamburg, Zurich, Berne</a>
  <span itemprop="org">Frank Nocke – Freelancer: Javascript, React.js, Web. Freelancer, Hamburg, Zurich, Berne</span><br>
  <div class="adr">
    <span class="type">Work</span>:
    <span class="locality">Zurich</span>,
    <abbr class="region" title="Zurich, Switzerland">Zürich, Schweiz</abbr>&nbsp;&nbsp;
    <span class="postal-code">8001</span>
    <div class="country-name">Switzerland</div>
  </div>
  <div class="tel">
    <span class="type">Work</span>
    <span class="value">+41</span><span class="value">71</span><span class="value">0000</span>
  </div>
  <div>Email:
    <span class="email">schweiz@nocke.de</span>
  </div>

  <img class="photo" src='#TODO'>photo of Frank Nocke, Web Developer, Hamburg, Schweiz</object>

  <span itemprop="cell">+49 178 1354288</span>
  <abbr class="latitude" title="46.94809">N 46° 94.809</abbr>
  <abbr class="longitude" title="7.44744">E 7° 44.744</abbr>
</div>

{% comment %}
TODO: Bilder richten... (zB  nocke.de/static ?)
TODO: Same thing for Hamburg
{% endcomment %}
