/* ----------------------------------
 * Button - button styling
 *
 * inside, but also outside of forms
 * modern <button> buttons, input buttons, anchor buttons
 * ---------------------------------- */

$button-regular : #555
$button-cta : rgb(56,198,58)

$glossy : linear-gradient(to bottom, rgba(77,205,79,1) 0%,rgba(62,200,67,1) 50%,rgba(44,158,49,1) 51%,rgba(36,130,39,1) 90%,rgba(54,164,72,1) 100%)
$glossyHL : linear-gradient(to bottom, rgba(94,210,96,1) 0%,rgba(81,205,85,1) 50%,rgba(50,182,57,1) 51%,rgba(44,156,47,1) 90%,rgba(61,187,82,1) 100%)

$linkcolor : $hackerBlue

// everybody being a button ----------------------------

// #helperline   //  for baseline alignment
//   position: relative
//   height: 1px
//   color: transparent
//   &::after
//     display: block
//     position: absolute
//     width: 100%
//     bottom: -54px
//     content: ''
//     border-top: 1px solid #0f0

button, a.button, span.button, input.button
  margin: .2em 0
  padding: 0
  font-family: Verdana, Helvetica, Arial, sans-serif
  font-size: 1.6rem
  display: inline-block
  border: none
  line-height: 1em // that makes the input/button identical!
  text-decoration: none
  cursor: pointer // for 'action' buttons, w/o href, etc...
  padding: 4px 8px

  color: white
  background: $button-regular
  +round-small
  +shadow-tiny-text
  +shadow-tiny

  &:focus, &:hover
    +bump
    background: lighten( $button-regular, 10% )

.button-main, a.button-main, input.button-main
  background: $button-cta
  background: $glossy
  &:focus, &:hover
    +bump
    color: white
    background: lighten( $button-cta, 5% )
    background: $glossyHL

.button-cta, a.button-cta, input.button-cta
  background: $button-cta
  background: $glossy

  font-size: 3rem
  padding: 8px 12px
  &:focus, &:hover
    +bump
    color: white
    background: lighten( $button-cta, 5% )
    background: $glossyHL

// everybody being an anchor ..........................

a, button.anchor, input.anchor, .anchor   // be so explicit for precedence
  // unstyle (also the above, for button)
  background: transparent
  text-shadow: none
  box-shadow: none
  border: none
  // gives trouble on S2 Tablet (and only there…) font-size: inherit

  // style
  display: inline-block
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5)
  text-decoration: underline
  cursor: pointer // href-less buttons
  color: $linkcolor
  &:focus, &:hover
    +round-small
    color: lighten( $linkcolor, 15% )

// only those of the above who need it, should get this
// (render difference for inherit on samsung tablet)
input.anchor
  font-size: inherit // important for input!


// plain links (i.e. to prepare for menus, ...) -------------------------

button.plain, a.plain,  input.plain   // be so explicit for precedence
  // unstyle (also the above, for button)
  background: transparent
  color: inherit
  text-decoration: inherit
  font-size: inherit
  font-family: inherit
  text-shadow: none
  box-shadow: none
  border: none
  padding: inherit






