/* ----------------------------------
 * Button - button styling
 *
 * inside, but also outside of forms
 * modern <button> buttons, input buttons, anchor buttons
 * ---------------------------------- */

$button-regular : #555
$button-main : #c12
$button-cta : $button-main

$linkcolor : $hackerBlue

// everybody being a button ----------------------------

#helperline
  position: relative
  height: 1px
  color: transparent
  &::after
    display: block
    position: absolute
    width: 100%
    bottom: -54px
    content: ''
    border-top: 1px solid #0f0

button, a.button, input.button
  margin: .2em 0
  padding: 0
  font-family: Verdana, Helvetica, Arial, sans-serif
  font-size: 1.6rem
  display: inline-block
  border: none
  line-height: 1em // that makes the input/button identical!
  text-decoration: none
  cursor: pointer // for 'action' buttons, w/o href, etc...
  padding: 4px 8px

  color: white
  background: $button-regular
  +round-small
  @extend .shadow-tiny-text, .shadow-tiny

  &:focus, &:hover
    +bump
    background: lighten( $button-regular, 10% )

.button-main, a.button-main, input.button-main
  background: $button-main
  &:focus, &:hover
    +bump
    background: lighten( $button-main, 5% )

.button-cta, a.button-cta, input.button-cta
  background: $button-cta
  font-size: 3rem
  padding: 8px 12px
  &:focus, &:hover
    +bump
    background: lighten( $button-cta, 5% )

// everybody being an anchor ..........................

a, button.anchor, input.anchor, .anchor   // be so explicit for precedence
  // unstyle (also the above, for button)
  background: transparent
  text-shadow: none
  box-shadow: none
  border: none
  font-size: inherit // important for input!

  // style
  display: inline-block
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5)
  text-decoration: underline
  cursor: pointer // href-less buttons
  color: $linkcolor
  &:focus, &:hover
    +unbump
    +round-small
    color: lighten( $linkcolor, 15% )
    background: rgba( $linkcolor, .1 )


// plain links (i.e. to prepare for menus, ...) -------------------------

button.plain, a.plain,  input.plain   // be so explicit for precedence
  // unstyle (also the above, for button)
  background: transparent
  color: inherit
  text-decoration: inherit
  font-size: inherit
  font-family: inherit
  text-shadow: none
  box-shadow: none
  border: none
  padding: inherit






