

html, body
  margin: 0
  padding: 0
  background: darkgreen

html
  font-size: 62.5% // 1rem <:=> 10px

body
  position: relative
  padding-bottom: $footerHeight+$pad // reserved for footer
  box-sizing: border-box // so padding reserved for footer does not add up

  background: #151515 url('../img/bkg.png') 0 0
  background: green
  font-size: 16px // actual font size
  min-height: 100vh
  line-height: 1.5
  font-family: Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal, monospace




ul.plain, .ul-plain, ul.plain-inline
  list-style: none
  margin: 0
  padding: 0
  line-height: normal
  li
    margin: 0
    padding: 0
    display: block
    // to fully fill width
    a
      display: block

ul.plain-inline
  li, a
    display: inline-block
    white-space: nowrap
