

// responsive headlines __________________________________
// make default size the media-query-less default. just in case.

.r1
  line-height: 1.2em
  font-size: 50px

  +above(l)
    font-size: 60px
  +above(xl)
    font-size: 75px

  +below(m)
    font-size: 40px
  +below(s)
    font-size: 36px

.r2
  line-height: 1.2em
  font-size: 32px

  +above(l)
    font-size: 42px
  +above(xl)
    font-size: 50px

  +below(m)
    font-size: 28px
  +below(s)
    font-size: 24px

.r3
  line-height: 1.2em
  font-size: 22px
  font-weight: bold

  +above(l)
    font-size: 28px
  +above(xl)
    font-size: 32px

  +below(m)
    font-size: 24px
  +below(s)
    font-size: 20px

=responsiveSize($factor)
  $minSize : 0.5rem
  // assume l as default
  font-size:   ( 1rem * $factor * 100) / 100 + $minSize
  +above(l-xl)
    font-size: ( 1.13rem * $factor * 100) / 100 + $minSize
  +above(xl)
    font-size: ( 1.25rem * $factor * 100) / 100 + $minSize

  +below(m-l)
    font-size: ( .9rem * $factor * 100) / 100 + $minSize
  +below(m)
    font-size: ( .8rem * $factor * 100) / 100 + $minSize
  +below(s-m)
    font-size: ( .65rem * $factor * 100) / 100 + $minSize
  +below(s)
    font-size: ( .5rem * $factor * 100) / 100 + $minSize


// headlines ______________________________________________

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
  margin: .32em 0 .1em
  line-height: 1.20em
  font-weight: normal
  color: white
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1)
  -webkit-font-smoothing: antialiased


h1, .h1
  text-align: center
  font-weight: normal
  font-family: Pacifico, Segoe, "Segoe UI", sans-serif

h1, .h1
  text-align: center
  @extend .r1

h2, .h2
  margin: .5em 0 0em
  @extend .r2
  color: $green

h3, .h3
  font-weight: bold
  @extend .r3
  font-size: 18px

h4, .h4
  color: $gray4
  font-size: 14px

h5, .h5
  color: $gray2
  font-size: 12px

h6, .h6
  color: $gray2
  text-transform: uppercase
  color: #999
