// lists ________________________________________________

ul
  li
    list-style-image: url("./bullet.png")
    line-height: 1.4em

ul.plain, .ul-plain, ul.plain-inline
  list-style: none
  list-style-image: none
  margin: 0
  padding: 0
  line-height: normal
  li
    margin: 0
    padding: 0
    display: block // to fully fill width
    a
      display: block

ul.plain-inline
  li, a
    display: inline-block
    white-space: nowrap


// just big, touchable/hoverable links  ul > li > a (very outermost anchor)
// used on blog/
// REF → component.sass / .contact-links
ul.big-list
  @extend .ul-plain

  li
    width: 100%
    margin: 0 0

  a
    +radiusL
    display: block
    text-decoration: none
    padding: .4em

    &:hover, &:focus
      color: white
      +shadow-tiny-text
      text-decoration: none
      background-color: rgba( white, .4 )

  .h4
    font-weight: normal

  h2
    margin: .2em 0 .1em
