
// img handling _________________________________________

// precautions:
main
  img
    max-width: 100%
    font-size: .5em // prevent large, too bright alt texts
    color: rgba( black, .4 )


picture
  display: block
  overflow: hidden

  // true for all images
  img
    max-width: 100%
    font-size: .5em // prevent large, too bright alt texts
    color: rgba( black, .4 )

  // alignments / styles _______________________________
  &.picture-right
    float: right
    margin: $halfpad 0 $halfpad $pad

  &.picture-left
    float: left
    margin: $halfpad $pad $halfpad 0

  // an image, of which I trust, that it's very lengthy,
  // ( bad choice for anything 16:9, 4:3, 3:2, ... )
  // &.picture-wide
  //    only necessary below ↓

  // decoration ___________________________________

  &.picture-round
    +radiusL


  // sizing ______________________________________

  // only use on -left and -right images!
  &.picture-m
    width: 300px
    max-width: 30%
    +below(s)
      width: auto
      max-width: none
      float: none
      height: 300px
      img
        height: 300px
        margin: 0 auto

  img
    display: block


// wode-images im wrap-context: seamless zum Rand
main.wrap > .picture-wide  // only in margin-mode: snap to full width
  @media ( max-width: $maxWidth + 2*$pad + $scrollBar )
    margin-left: -$pad
    margin-right: -$pad
    width: auto
