
body .bilingual
  // tricking away h1 and h2
  h1, h2
    font-size: 20px
    position: absolute

  a
    +radiusL
    overflow: hidden
    text-overflow: ellipsis
    &:hover, &:focus, &:hover span, &:focus span,
      background: #444

    span
      
      background-image: url(./bkg.png) // SEO-cover...
      display: block
      position: relative
      overflow: hidden
      text-overflow: ellipsis
