
body .bilingual
  // tricking away h1 and h2 (seo)
  padding-top: 1em

  h1, h2
    font-size: 20px
    position: absolute
    padding-left: 50px

  a
    +radiusL
    overflow: hidden
    text-overflow: ellipsis
    &:hover, &:focus, &:hover span, &:focus span,
      background: #444

    span

      background-image: url(./bkg.png) // SEO-cover...
      display: block
      position: relative
      overflow: hidden
      text-overflow: ellipsis


// really big hover links
.big-links
  list-style: none
  list-style-image: none
  margin: 0 auto

  max-width: 700px
  width: 80%
  min-width: 360px

  +below(360px)
    min-width: 100%

  padding: 0
  line-height: 1em
  li
    display: table
    width: 100%
  span.sprite
    vertical-align: middle
    margin-right: $pad
  a
    +responsiveSize(1.8, 1.4rem)
    +radiusL
    text-decoration: none
    display: table-cell
    vertical-align: middle
    display: block

    &:hover, &:focus
      color: white
      +shadow-tiny-text
      background-color: rgba( white, .4 )
      span.sprite, span.sprite:focus, span.sprite:hover
        background-color: transparent !important
        @extend .zbounce


// recruiter-advice
.recruiter-advice
  padding: $halfpad 0
  +below(s-m)
    div
      display: inline

