

// error page ____________________________



body.b404
  display: table
  width: 100%
  background: darkred

  main
    display: table-row
    height: 100%
    vertical-align: middle
    background: darkgreen

    .h1
      display: block
      position: absolute
      width: 100%
      left: 50%
      top: 30%
      transform: translate(-50%,-50%)
      font-size: 200px
      animation-name: bounceIn
      animation-duration: 450ms
      animation-timing-function: linear
      animation-fill-mode: forwards


