

// error page ____________________________

div.middle // --> atomic
  position: relative
  background: #caa
  padding: 1px // margin decollapse


body.e404
  div.h1
    font-size: 200px
    line-height: .4em