
$headerImageHeight : 140px

header
  position: absolute
  +border-box
  top: 0
  width: 100%
  z-index: 20
  background: $gray2
  border-bottom: 4px solid $gray1
  height: $headerHeight

  .header-image
    height: $headerImageHeight
    background: $darkblue
    overflow: hidden
    .zoomer
      width: 100%
      height: 100%
      @extend .zoomin

    img
      background-size: cover
      background-position-y: bottom
      display: block
      width: 100%
      height: $headerImageHeight

    .shader
      position: absolute
      top: 0
      width: 100%
      height: 100%
      box-shadow: inset 0px -4px 16px 0px rgba(0,0,0,0.8)

  .menu
    text-align: center

    ul.plain-inline
      font-size: 0
    li
      font-size: 1.6rem
    a
      color: $grayLight
      text-decoration: none
      padding: 6px 10px
      margin: 2px 0
      +radiusL
    li.active a
      background: white
      color: black

    ul li:first-child a
      font-weight: 900
      padding-right: 40px

    .fav
      span, span::before
        color: $gray5
        line-height: 0 !important
        padding: 0 !important
        margin: 0 !important
      &.active span::before
        color: $orange
        @extend .zbounce2
