
footer
  position: absolute // just semi-sticky
  width: 100%
  bottom: 0
  box-sizing: border-box
  background: $gray1
  min-height: $footerHeight

  .teaserbox
    @extend .wrap  // gets (not yet harming) side effects from common_image
    color: $gray3
    padding: 10px
    border: 1px
    +responsiveSize(1.2)

  .menu
    text-align: right
    padding: 1px 2% 6px 0
    font-size: 0
    a
      font-size: 14px
      line-height: initial
      color: $gray3
      text-decoration: none
      padding: 4px 6px
