
footer
  position: absolute // just semi-sticky
  width: 100%
  bottom: 0
  box-sizing: border-box
  background: $gray3
  min-height: $footerHeight

  .teaserbox
    @extend .h3, .wrap, .fancy
    padding: 10px
    border: 1px
    font-size: 2rem !important

  .menu
    text-align: right
    padding: 1px 2% 6px 0
    font-size: 0
    a
      font-size: 14px
      line-height: initial
      color: $gray5
      text-decoration: none
      padding: 4px 6px
