// common variables

$headerHeight: 182px
$footerHeight: 100px

// common vertical and horizontal padding around desktop resolutions
$pad: 20

// TODO replace by grays below
$grayDark: #333
$gray: #666
$grayMed: #aaa
$grayLight: #eee

$hackerGreen: #b5e853
$hackerBlue:  #63c0f5

$radiusL: 12px
$radiusS: 4px

// Solarized colors
$darkblue:    #002b36 // dark blue-ish
$darkcyan:    #073642 // dark cyan-ish
$gray2:       #586e75
$gray1:       darken($gray2, 20%)
$gray3:       #657b83
$gray4:       #839496
$gray5:       #93a1a1
$gray6:       #eee8d5
$gray7:       #FDF6e3

$yellow:      #b58900
$orange:      #cb4b16
$red:         #dc322f
$magenta:     #d33682
$violet:      #6c71c4
$blue:        #268bd2
$cyan:        #2aa198
$green:       #859900
